body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: Roboto Condensed;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr 9fr;
      grid-template-rows: 1fr 9fr;
      grid-template-areas: "name navbar" "info main";
  height: 100vh;
  width: 100%;
}

#name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  background-color: #454545;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#name a {
  text-decoration: none;
  font-size: 2rem;
  color: #FFFFFF;
}

#navbar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: navbar;
  background-color: #454545;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
      grid-template-areas: "None connect";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar :hover {
  cursor: pointer;
}

#connect {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: connect;
  -ms-grid-column-align: end;
      justify-self: end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.2em;
  margin-right: 0.5em;
  padding: 0.2em;
  background-color: #1583c4;
  font-size: 2rem;
  color: #FFFFFF;
}

button {
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  background-color: #1583c4;
  color: #FFFFFF;
  padding: 0em;
  margin: 0.5em;
}

#info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info;
  background-color: #646464;
  color: #FFFFFF;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 20em;
}

#info h1, #info h2 {
  margin: 0.5em;
}

#info h1 {
  margin-left: 0em;
}

.info-content {
  padding-left: 1em;
  display: -ms-grid;
  display: grid;
}

.info-content button {
  color: #B6B6B6;
}

button:hover {
  cursor: pointer;
}

#MANUAL {
  color: #FFFFFF;
}

#connection-status {
  color: #B6B6B6;
}

#controller-connection-status {
  color: #B6B6B6;
}

#control {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  background-color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  min-width: 40em;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 1em;
  color: #FFFFFF;
}

.move-buttons {
  display: inline-block;
  background-color: #1583c4;
  border: none;
  color: #FFFFFF;
  font-size: 2rem;
  min-width: 4em;
}

.move-buttons:hover {
  cursor: pointer;
}

.move-buttons:active {
  background-color: #454545;
}

#UP {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

#LEFT {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

#DOWN {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

#RIGHT {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.slidecontainer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr;
      grid-template-columns: 1fr 8fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#move-speed-label {
  font-size: 1rem;
  color: #000000;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

#move-speed {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  width: 100%;
}

#turn-speed-label {
  font-size: 1rem;
  color: #000000;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

#turn-speed {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #1583c4;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #1583c4;
  cursor: pointer;
}

#line-follower {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40em;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr, 1fr, 1fr;
      grid-template-columns: 1fr, 1fr, 1fr;
      grid-template-areas: "left     middle   right" "commands commands commands";
}

.sensor {
  background-color: #FFFFFF;
  border-radius: 100%;
  border-color: #000000;
  border-style: solid;
  border-width: 5px;
  width: 100px;
  height: 100px;
  margin: 25px;
}

#left-sensor {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

#middle-sensor {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: middle;
}

#right-sensor {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right;
}

#line-follower-commands {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: commands;
  text-align: center;
  font-size: 4rem;
  width: 100%;
}

#obstacle-avoidance {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40em;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "distance" "commands";
}

#obstacle-avoidance-distance {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: distance;
  text-align: center;
  font-size: 4rem;
  width: 100%;
}

#obstacle-avoidance-commands {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: commands;
  text-align: center;
  font-size: 4rem;
  width: 100%;
}

#custom-code {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  display: none;
  text-align: center;
  min-width: 40em;
  -ms-grid-rows: 1fr 4fr 1fr 1fr;
      grid-template-rows: 1fr 4fr 1fr 1fr;
      grid-template-areas: "title" "commands" "add" "save";
}

.name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

#commands {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: commands;
  width: 100%;
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
}

#commands p {
  display: inline-block;
}

#add {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: add;
}

#save {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: save;
}

.block {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  width: 90%;
  background-color: #FFFFFF;
  margin: 1em;
  border-style: solid;
}

.command-name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.commands {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.for {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.time {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.units {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.remove {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  background-color: #d82a2a;
}
/*# sourceMappingURL=styles.css.map */